* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.navbar .main {
    float: left;
    width: 500px;
    padding-top: 10px;
}*/

p {
    text-align: justify;
}

.nabvar h1 {
    padding-top: 20;
}

.navbar-brand {
    background: #EA0F47;
    font-size: 40px;
    font-family: 'Righteous', cursive;
    margin-left: 50px;
    color: black;
    /*padding-top: 10px;*/
}

.navbar-brand:hover {
    border: solid 1px black;
    border-radius: 0.3em;
    background-color: #FCD421;
    transition-duration: 0.5s;
}

.navbar-expand-sm .navbar-nav {
    margin-left: 500px;
}

.navbar-brand {
    background-color: #EA0F47;
    animation-name: title;
    animation-duration: 40s;
}

@keyframes title {
    0% {background-color: #EA0F47; border-radius: 0.3em;}
    25% {background-color: #6A26B6;border-radius: 0.3em;}
    50% {background-color: #2676B6;border-radius: 0.3em;}
    75% {background-color: #01BD00;border-radius: 0.3em;}
    100% {background-color: #F7D905;border-radius: 0.3em;}
}

.container {
    float: right;
    margin-left: 800px;
}

.container ul li a {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    /*color: wheat;*/
}


/*MAIN SECTION*/

.container-main {
    display: flexbox;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 0.3em;
    margin: 20px 0 0 70px;
    width: 1000px;
    padding: 25px;
    height: 500px;
    margin-bottom: 60px;
}

.container-main .row .col-12 h2{
    font-family: 'Righteous', cursive;
}

.container-main .row .col-12 {
    margin-top: 10px;
}

.container-main .row .col-4 .card .card-img-top {
    width: 250px;
    height: 300px;
    border: none;
}

.container-main:hover {
    border:solid 3px black;
    transition-duration: 1s;
}

.container-main .row:hover {
    background-color: #605EC6;
    transition-duration: 0.5s;
    border-radius: 0.3em;
}

/*FOOTER*/

footer .card .card-footer p {
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-size: 18px;
    color: black;
}

footer .card .card-footer {
    background-color: #EA0F47;
    animation-name: footer;
    animation-duration: 40s;
}

@keyframes footer {
    0% {background-color: #EA0F47;}
    25% {background-color: #6A26B6;}
    50% {background-color: #2676B6;}
    75% {background-color: #01BD00;}
    100% {background-color: #F7D905;}
}