* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

/*LOGO-------------------------------------------------------*/

/*Header style*/
.header {
    height: 100px;
    padding: 0 30px;
    color: black;
    font-size: 20px;
    box-shadow: 1px 0px 5px rgba(0,0,0,.3);
}

/*Logo div styles*/
header .header .logo-box {
    background-color: blue;
    border-left: solid 1px black;
    border-right: solid 1px black;
    float: left;
    height: 100px;
    box-shadow: 1px 0px 5px rgba(0,0,0,.3);
}

/*Logo h2 styles*/
.logo {
    line-height: 100px;
    float: left;
    font-family: 'Montserrat', sans-serif; 
}


/*MENU---------------------------------------------------*/

/*menu container styles*/
.menu {
    float: right;
    padding: 35px 0;
    z-index: 3000   ;
}

/*menu links styles*/
.menu a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
    transition: 0.5s;
    font-family: 'Arvo', serif;
}

/*botton of the menu*/
.show-menu-btn, .hide-menu-btn {
    transition: 0.5s;
    font-size: 25px;
    cursor: pointer;
    display: none; /*Con none, los botones no serán visibles por el momento*/
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 100px;
}

/*hover of the menu links*/
.menu a:hover,
.show-menu-btn:hover {
    color: orange;
}

.hide-menu-btn {
    color: white;
}

/*display menu when the screen is reduced*/
#chk {
    margin-left: -150px;
    display: none;
}

/*threshold of screen when is reduced*/

@media (max-width: 952px){

    .logo-box {
        margin-left: 20px;
    }

    .menu a {
        font-size: 18px;
    }
    
    .hide-menu-btn {
        position: absolute;
        top: 5px;
        right: 10px;
    }
}

/*Toogle menu*/
@media (max-width: 858px) {
    .show-menu-btn, .hide-menu-btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background: black;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    .menu a {
        display: block;
        line-height: 30px;
        color: white;
        margin-top: 20px;
    }

    .menu a:hover {
        background-color: grey;
    }

    #chk:checked ~ ul {
        left: 0.3em;
    }
}

/*HEADER ANIMATION*/

.header {
    background-color: white;
    animation-name: title;
    animation-duration: 40s;
    animation-iteration-count: 100;
}

@keyframes title {
    0% {background-color: white; }
    25% {background-color: #6A26B6;}
    50% {background-color: #2676B6;}
    75% {background-color: #01BD00;}
    100% {background-color: #F7D905;}
}

/*MAIN CONTAINER------------------------------------*/

/*Container styles*/
.container {
    background-color: rgb(108, 130, 255);
    margin: 20px auto;
    border-radius: 0.3em;
}


/*h2 styles*/
.container .row .col-12 h2 {
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
}

/*hr styles*/
.container .row .col-12 hr {
    border: 2px solid black;
}

.container .row .col-12 .title {
    width: 1100px;
    margin-top: 10px;
    background-color: white;
    margin-left: 5px;
    border-radius: 0.3em;
}

/*Card styles*/
.container .row .col-4 {
    margin: 20px 0;
    position: relative;
}

/*p container styles*/
.container .row .col-4 .card .card-body {
    position: absolute;
    background-color: white;
    padding: 10px;
    width: 100%;
    top: 140px;
}

/*Text styles*/
.container .row .col-4 .card .card-body p {
    color: black;
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 20px;
}

/*Scale transition*/
.container .row .col-4 .card .card-img-top {
    transition: transform 0.2s;
    opacity: 0.8;
}

/*Hover to the image*/
.container .row .col-4 .card .card-img-top:hover {
    transform: scale(1.05);
    opacity: 1;
}


@media screen and (max-width: 1200px) {
    .container {
        background-color: orange;
        transition: 0.2s;
    }

    .container .row .col-12 h2 {
        font-size: 25px;
    }

    .container .row .col-12 .title {
        width: 920px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        background-color: rgb(247, 96, 96);
        transition: 0.2s;
    }

    .container .row .col-4 .card {
        width: 220px;
        margin-left: -5px;
    }

    .container .row .col-12 h2 {
        font-size: 20px;
    }

    .container .row .col-4 .card .card-body {
        margin-top: -50px;
    }

    .container .row .col-4 .card .card-body p {
        font-size: 15px;
    }

    .container .row .col-12 .title {
        width: 700px;
        margin-left: -5px;
    }

}

@media screen and (max-width: 768px) {
    .container {
        max-width: 560px;
        background-color: purple;
        transition: 0.2s;
    }
    
    .container .row .col-12 h2 {
        font-size: 18px;
    }

    .container .row .col-4 .card {
        width: 160px;
        margin: 0 auto;
    }

    .container .row .col-4 .card .card-body {
        margin-top: -70px;
    }

    .container .row .col-4 .card .card-body p {
        font-size: 12px;
    }

    .container .row .col-12 .title {
        width: 540px;
        margin-left: -5px;
    }

}

@media screen and (max-width: 576px) {
    .container {
        background-color: rgb(185, 224, 43);
        width: 350px;
        transition: 0.2s;
    }
    .container .row {
        display: block;
        padding: 5px 0;
    }

    .container .row .col-4 .card {
        width: 300px;
        margin: 10px 0 0 8px;
    }

    .container .row .col-12 h2 {
        font-size: 25px;
    }

    .container .row .col-4 .card .card-body {
        margin-top: 10px;
    }

    .container .row .col-4 .card .card-body p {
        font-size: 18px;
    }

    .container .row .col-12 .title {
        width: 330px;
        margin-left: -5px;
        margin-top: 5px;
    }
}

/*FOOTER---------------------------------------*/

/*text styles*/
footer .card .card-footer p {
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 18px;
    color: black;
}

/*Container animation*/
footer .card .card-footer {
    font-family: 'Questrial', sans-serif;
    background-color: black;
    animation-name: footer;
    animation-duration: 40s;
    margin-bottom: 0;
    animation-iteration-count: 100;
}

footer .card .card-footer p {
    color: white;
}