* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(190, 186, 186);
}

/*LOGO-------------------------------------------------------*/

/*Header style*/
.header {
    height: 100px;
    padding: 0 30px;
    color: white;
    font-size: 20px;
    background-color: rgb(190, 186, 186);
}

/*Logo div styles*/
header .header .logo-box {
    background-color: rgb(190, 186, 186);
    color: black;
    float: left;
    height: 100px;
}

/*Logo h2 styles*/
.logo {
    line-height: 100px;
    float: left;
    font-family: 'Montserrat', sans-serif; 
}


/*MENU---------------------------------------------------*/

/*menu container styles*/
.menu {
    float: right;
    padding: 35px 0;
    z-index: 3000;
}

/*menu links styles*/
.menu a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
    transition: 0.5s;
    font-family: 'Arvo', serif;
}

/*botton of the menu*/
.show-menu-btn, .hide-menu-btn {
    transition: 0.5s;
    font-size: 25px;
    cursor: pointer;
    display: none; /*Con none, los botones no serán visibles por el momento*/
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 100px;
}

/*hover of the menu links*/
.header .menu a:hover,
.header .show-menu-btn:hover {
    color: rgb(0, 4, 255);
}

.hide-menu-btn {
    color: white;
}

/*Hide menu when the screen is reduced*/
#chk {
    margin-left: -150px;
    display: none;
}

/*threshold of screen when is reduced*/

@media (max-width: 952px){

    .logo-box {
        margin-left: 20px;
    }

    .menu a {
        font-size: 18px;
    }
    
    .hide-menu-btn {
        position: absolute;
        top: 5px;
        right: 10px;
    }
}

/*Toogle menu*/
@media (max-width: 858px) {
    .show-menu-btn, .hide-menu-btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background: black;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    .menu a {
        display: block;
        line-height: 30px;
        color: white !important;
        margin-top: 20px;
    }

    .menu a:hover {
        background-color: grey;
    }

    #chk:checked ~ ul {
        left: 0.3em;
    }

    .hide-menu-btn:hover {
        color: yellow;
    }

}

/*MAIN CONTAINER------------------------------------*/

/*Container styles*/
.container {
    margin: 20px auto;
    padding: 20px;
}

.container .row .box {
    margin-bottom: 10px;
}


/*h2 styles*/
.container .row .col-12 h2 {
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
}

/*hr styles*/
.container .row .col-12 hr {
    border: 2px solid black;
}

.container .row .col-12 .title {
    width: 1100px;
    margin-top: 10px;
    background-color: rgb(252, 110, 85);
    margin-left: 5px;
    border-radius: 0.3em;
}

.title h2 {
    font-weight: bolder;
}

/*Card styles*/
.container .row .col-4 {
    margin: 20px 0;
    position: relative;
}

/*.form {
    width: 100%;
    background-color: red;
}*/

/*p container styles*/
.container .row .box .card .card-body {
    position: absolute;
    background-color: black;
    padding: 10px;
    width: 100%;
    top: 140px;
}

.data {
    width: 100%;
}

/*Text styles*/
.container .row .box .card .card-body p {
    color: white;
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 20px;
}



/*FOOTER---------------------------------------*/

/*text styles*/
footer .card .card-footer p {
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 18px;
    color: white;
    
}

footer .card .card-footer {
    background-color: black;
}

footer {
    position: relative;
    bottom: 0px;
}

/*CONTAINER TO DISPLAY THE INFORMATION*/
.display {
    display: none;
    margin-bottom: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 80%;
    background-color: blue;
    border: solid 1px black;
}


.display h4 {
    font-family: 'Arvo', serif;
    font-size: 25px;
    margin-left: 20px;
}

.display p {
    font-family: 'Arvo', serif;
    font-size: 18px;
    text-align: justify;
    line-height: 35px;
}

#link {
    float: right;
}


#close {
    justify-content: space-between;
    align-items: center;
    float: right;
}

.display .row {
    margin-bottom: 0px;
}

.password-generator, .culture-quiz, .day-planner, 
.weather-dashboard, .band-tracker, .note-taker {
    display: none;
}

.password-generator, .culture-quiz, .day-planner, 
.weather-dashboard, .note-taker, img {
    width: 100%;
    height: auto;
}

.display {
    background-color: white;
    border-radius: 0.3em;
}

/*Scale transition*/
.container .row .box .card .card-img-top {
    transition: transform 0.2s;
    opacity: 0.8;
}

/*Hover to the image*/
.container .row .box .card .card-img-top:hover {
    transform: scale(1.05);
    opacity: 1;
}

.card-body-cont {
    background-color: black;
}

.card-text {
    color: white;
}

@media screen and (max-width: 1200px) {
    .container {
        transition: 0.2s;
    }

    .container .row .col-12 h2 {
        font-size: 25px;
    }

    .container .row .col-12 .title {
        width: 100%;
    }

    .container .row .box .card .card-body p {
        font-size: 18px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        transition: 0.2s;
    }

    .container .row .col-4 .card {
        width: 220px;
        margin-left: -5px;
    }

    .container .row .col-12 h2 {
        font-size: 20px;
    }

    .container .row .box .card .card-body {
        margin-top: -50px;
    }

    .container .row .box .card .card-body p {
        font-size: 15px;
    }

    .container .row .col-12 .title {
        width: 100%;
        margin-left: -5px;
    }

    .display .info .information p {
        font-size: 16px;
    }

}

@media screen and (max-width: 768px) {
    .display {
        width: 80%;
    }

    .container {
        transition: 0.2s;
    }
    
    .container .row .col-12 h2 {
        font-size: 15px;
    }

    .container .row .col-4 .card {
        width: 160px;
        margin: 0 auto;
    }

    .container .row .box .card .card-body {
        margin-top: -70px;
    }

    .container .row .box .card .card-body p {
        font-size: 14px;
    }

    .container .row .col-12 .title {
        width: 100%;
        margin-left: -5px;
    }

    .display .row .col-12 h4 {
        font-size: 18px;
    }

    .display .info .information p {
        font-size: 15px;
    }

    .display .info .image img {
        width: 200px;
        height: auto;
    }

}

@media screen and (max-width: 576px) {
    .display {
        width: 80%;
    }
    
    .container {
        width: 90%;
        transition: 0.2s;
    }
    .container .row {
        display: block;
        padding: 5px 0;
    }

    .container .row .box .card {
        width: 350px;
        margin-left: 15px;
    }

    .container .row .col-12 h2 {
        font-size: 25px;
    }

    .container .row .box .card .card-body {
        margin-top: 10px;
    }

    .container .row .box .card .card-body p {
        font-size: 18px;
    }

    .container .row .col-12 .title {
        width: 100%;
    }

    .display .info .information p {
        font-size: 10px;
    }
}

@media (max-width: 575px) {
    .display {
        width: 80%;
    }

    .image {
        flex: 100%;
        max-width: 100% !important;
    }

    .information {
        flex: 100%;
        max-width: 100%;
    }

    .display .info .image img {
        width: 100px;
        height: auto;
    }

    .display .info .information p {
        font-size: 15px;
    }
}

/*-------------------------------------*/

.text-show {
    text-align: center;
    font-weight: bold;
}

.arrow-cont {
    border-radius: 100%;
    background-color: black;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.show-more-btn {
    background-color: transparent;
    margin: 20px 24px;
    border: none;
}

.show-less-btn {
    background-color: transparent;
    margin: 20px 24px;
    border: none;
}

.fa-arrow-down {
    font-size: 40px;
    color: white;
}

.fa-arrow-up {
    font-size: 40px;
    color: white;
}

.no-display {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.display-content {
    display: block;
    transition: 5s;
    scroll-behavior: smooth;
}

.show-less {
    display: none;
}