* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(190, 186, 186);
}

/*LOGO-------------------------------------------------------*/

/*Header style*/
.header {
    height: 100px;
    padding: 0 30px;
    color: black;
    font-size: 20px;
    background-color: transparent;
}

/*Logo div styles*/
header .header .logo-box {
    background-color: transparent;
    float: left;
    height: 100px;
}

/*Logo h2 styles*/
.logo {
    line-height: 100px;
    float: left;
    font-family: 'Montserrat', sans-serif; 
}


/*MENU---------------------------------------------------*/

/*menu container styles*/
.menu {
    float: right;
    padding: 35px 0;
    z-index: 3000   ;
}

/*menu links styles*/
.menu a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
    transition: 0.5s;
    font-family: 'Arvo', serif;
}

/*botton of the menu*/
.show-menu-btn, .hide-menu-btn {
    transition: 0.5s;
    font-size: 25px;
    cursor: pointer;
    display: none; /*Con none, los botones no serán visibles por el momento*/
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 100px;
}

/*hover of the menu links*/
.menu a:hover,
.show-menu-btn:hover {
    color: rgb(0, 4, 255);
}

.hide-menu-btn {
    color: white;
}

/*display menu when the screen is reduced*/
#chk {
    margin-left: -150px;
    display: none;
}

/*threshold of screen when is reduced*/

@media (max-width: 952px){

    .logo-box {
        margin-left: 20px;
    }

    .menu a {
        font-size: 18px;
    }

    .hide-menu-btn {
        position: absolute;
        top: 5px;
        right: 10px;
    }
}

/*Toogle menu*/
@media (max-width: 858px) {
    .show-menu-btn, .hide-menu-btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background: black;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    .menu a {
        display: block;
        line-height: 30px;
        color: white;
        margin-top: 20px;
    }

    .menu a:hover {
        background-color: grey;
    }

    #chk:checked ~ ul {
        left: 0.3em;
    }

    .hide-menu-btn:hover {
        color: yellow;
    }
}

.container-main .row .col-12 hr {
    border: 2px solid black;
}

/*JUMBOTRON*/

.jumbotron {
    background-color: rgb(252, 110, 85);
    height: 500px;
    width: 100%;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-size: 55px;
}

/*MAIN CONTENT------------------------------------*/

/*container sytles*/
.container-main {
    display: flexbox;
    flex-direction: column;
    border: solid 1px black;
    margin: auto;
    width: 80%;
    padding: 25px;
    margin-bottom: 60px;
    box-shadow: 1px 0px 5px rgba(0,0,0,.3);
    background-color: white;
    margin-top: -300px;
}

/*image properties*/
.container-main .row .col-3 .card .card-img-top {
    width: 100%;
    height: auto;
    border: none;
}

/*h2, col-8 and col-12 styles*/
.container-main .row .about h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.container-main .row .text .card-text {
    font-family: 'IBM Plex Serif', serif;
    text-align: justify;
    line-height: 40px;
}

.container-main .row .last-row p{
    font-family: 'IBM Plex Serif', serif;
    text-align: justify;
}

@media (max-width: 1200px) {
    .container-main {
        width: 80%;
        transition: 0.2s;
        font-size: 15px;
    }
}

@media (max-width: 401px) {
    .container-main .row .text {
        width: 100%;
    }
}

/*FOOTER---------------------------------------*/

/*text styles*/
footer .card .card-footer p {
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 18px;
    color: white;
}

footer .card .card-footer  {
    background-color: black;
}

/*Slideshow*/
.right {
    font-size: 35px;
    float: right;
    margin-top: 165px;
    cursor: pointer;
}

.left {
    font-size: 35px;
    float: left;
    margin-top: 165px;
    cursor: pointer;
}

.text1, .text2, .text3 {
    display: none;
}

.fade-text {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media (max-width: 575px) {
    .col-4 {
        flex: 100%;
        max-width: 100% !important;
    }

    .col-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
