* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*LOGO-------------------------------------------------------*/

.header {
    height: 100px;
    /*background-color: wheat;*/
    padding: 0 30px;
    color: black;
    font-size: 20px;
}

header .header .logo-box {
    background-color: blue;
    border: solid 1px black;
    float: left;
    height: 100px;
}

.logo {
    line-height: 100px;
    float: left;
    font-family: 'Questrial', sans-serif;
    
}

/*MENU---------------------------------------------------*/

.menu {
    float: right;
    padding: 35px 0;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
    transition: 0.5s;
}

.show-menu-btn, .hide-menu-btn {
    transition: 0.5s;
    font-size: 25px;
    cursor: pointer;
    display: none; /*Con none, los botones no serán visibles por el momento*/
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 100px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: orange;
}

#chk {
    margin-left: -150px;
    display: none;
}

@media (max-width: 952px){

    .logo-box {
        margin-left: 20px;
    }

    .menu a {
        font-size: 18px;
    }
}

@media (max-width: 858px) {
    .show-menu-btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background: black;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    .menu a {
        display: block;
        line-height: 30px;
        color: white;
        margin-top: 20px;
    }

    .menu a:hover {
        background-color: grey;
    }

    #chk:checked ~ ul {
        left: 0.3em;
    }
}

/*HEADER ANIMATION*/

.header {
    background-color: white;
    animation-name: title;
    animation-duration: 40s;
}

@keyframes title {
    0% {background-color: white; }
    25% {background-color: #6A26B6;}
    50% {background-color: #2676B6;}
    75% {background-color: #01BD00;}
    100% {background-color: #F7D905;}
}

/*MAIN CONTENT------------------------------------*/

.container-main {
    display: flexbox;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 0.3em;
    margin: 20px 0 0 30px;
    width: 1000px;
    padding: 25px;
    height: 500px;
    margin-bottom: 60px;
}

.container-main .row .col-12 h2{
    font-family: 'Righteous', cursive;
}

.container-main .row .col-12 {
    margin-top: 10px;
}

.container-main .row .col-4 .card .card-img-top {
    width: 250px;
    height: 300px;
    border: none;
}

.container-main:hover {
    border:solid 3px black;
    transition-duration: 1s;
}

.container-main .row:hover {
    background-color: #605EC6;
    transition-duration: 0.5s;
    border-radius: 0.3em;
}


/*FOOTER---------------------------------------*/

footer .card .card-footer p {
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-size: 18px;
    color: black;
}

footer .card .card-footer {
    background-color: white;
    animation-name: footer;
    animation-duration: 40s;
}

@keyframes footer {
    0% {background-color: white;}
    25% {background-color: #6A26B6;}
    50% {background-color: #2676B6;}
    75% {background-color: #01BD00;}
    100% {background-color: #F7D905;}
}